body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
  }
  
  #book-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .book {
    width: 250px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
  }
  
  .book h2 {
    font-size: 18px;
    margin-top: 0;
  }
  
  .book p {
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .book img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  